*{
    font-family: 'Open Sans', sans-serif;
}

header{
    padding: 20px;
    margin-bottom: 27px;
    background-image: linear-gradient(to bottom, #111111, #0f0f0f, #0c0c0c, #080808, #050505);
}

h1{
    color: #fff;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.panel{
    height: 500px;
    width: 60%;
    background-image: linear-gradient(to bottom, #111111, #0f0f0f, #0c0c0c, #080808, #050505);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 5px;
    min-width: 530px;
}

.pet-form{
    min-width: 350px;
    margin: 0 10px 10px 10px;
}

.toast{
    position: absolute;
    padding: 5px 18px;
    background-color: #88df60;
    color: #1e1e1e;
    border-radius: 2px;
    font-size: 1.2em;
    animation: appear 250ms;
}

@keyframes appear{
    from{
        transform: translateY(-20px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}