form{
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    /* background-image: linear-gradient(to bottom, #111111, #0f0f0f, #0c0c0c, #080808, #050505); */
    background-image: linear-gradient(to bottom, #1c1c1c, #1d1d1d, #1e1e1e, #202020, #212121);
    border-radius: 5px;
}

input, select, button{
    border: 1px solid #f0f0f0;
    border-radius: 5px;
    padding: 7px 10px;
    margin: 5px 0;
    font-size: 1em;
    transition: 150ms background;
}

input:focus{
    outline: 1px solid #8ffdee;
}

select:focus{
    outline: none;
}

label, h2{
    color: #fff;
}

h2{
    text-align: center;
}

.form-section{
    display: flex;
    justify-content: space-between;
}

.form-section div{
    display: flex;
    flex-direction: column;
}

.form-section div:first-child{
    width: 60%;
}

.form-section div:last-child{
    width: 20%;
}

.submit{
    border: none;
    color: #1a5e2b;
    background-color:#3bdd64;
}

.submit:hover{
    cursor: pointer;
}

.disabled{
    filter: grayscale(1);
}

.disabled:hover{
    cursor: initial;
}

.error{
    color: #fff;
    background-color: #fd9f9f;
    border: 2px solid #e41f1f
}